:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(192, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

main {
    width:100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBlock header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.firstBlock__header--logo {
    width: 200px;
    height: 31px;
}

.header--btn {
    padding: 15px 65px 15px 65px;
    background-color: white;
    border: none;
    border-radius: 225px;
    font-size: .85rem;
    font-weight: 700;
    color: var(--Very-Dark-Cyan);
    box-shadow: 0px 3px 10px 0px rgb(224, 223, 223);
}

.firstBlock header a {
    text-decoration: none;
}

.header--btn:hover,
.header--btn:focus,
.firstBlock--btn:hover,
.firstBlock--btn:focus,
.readyBox--btn:hover,
.readyBox--btn:focus {
    cursor: pointer;
    opacity: 80%;
}

.firstBlock {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 720px;

    padding: 47px 80px 70px 80px;
    margin-bottom: 160px;


    background: var(--Very-Pale-Cyan) url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.firstBlock__wrap {
    display: flex;

}

.firstBlock__wrap article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45.5%;
}

.firstBlock__wrap article h1 {
    font-size: 2.3rem;
    padding-right: 110px;
    margin-bottom: 30px;
    margin-top: 15px;
    line-height: 3.3rem;
}

.firstBlock__wrap article p {
    font-size: 1.05rem;
    margin-right: 47px;
    margin-bottom: 32px;
    line-height: 1.5rem;
    color: var(--Very-Dark-Cyan);
}

.firstBlock--btn {
    padding: 20px 68px;
    border-radius: 30px;
    border: none;
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    font-weight: 700;
    font-size: 0.8rem;
    box-shadow: 0px 6px 10px 1px rgb(224 223 223);
}

.firstBlock__wrap a {
    text-decoration: none;
}

.firstBlock img:nth-last-child(1) {
    width: 695px;
    height: 485px;
}

.secondBlock {
    width:100%;
    max-width: 1232px;
    height: 440px;
    display: flex;
    box-shadow: 0px 0px 17px -13px;
    border-radius: 15px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: flex-start;
}

.secondBlock__article {
    width: 40%;
    margin-left: 120px;
    margin-right: 180px;
    margin-top: 15px;
}

.secondBlock__article h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.secondBlock__article p {
    font-size: 1rem;
    line-height: 1.55rem;
    color: var(--Grayish-Blue);
}

.secondBlock img {
    width: 410px;
    height: 340px;
}

.thirdBlock {
    width:100%;
    max-width: 1232px;
    height: 440px;
    display: flex;
    box-shadow: 0px 0px 17px -13px;
    border-radius: 15px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: flex-end;
}

.thirdBlock__article {
    width: 41%;
    margin-left: 168px;
    margin-right: 27px;
    margin-top: 13px;
}

.thirdBlock__article h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.thirdBlock__article p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--Grayish-Blue);
}

.thirdBlock img {
    width: 410px;
    height: 300px;
}

.fourthBlock {
    width:100%;
    max-width: 1232px;
    height: 440px;
    display: flex;
    box-shadow: 0px 0px 17px -13px;
    border-radius: 15px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: flex-start;
}

.fourthBlock__article {
    width: 40%;
    margin-left: 120px;
    margin-right: 180px;
    margin-top: 10px;
}

.fourthBlock__article h2 {
    font-size: 1.5rem;
    margin-bottom: 17px;
}

.fourthBlock__article p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--Grayish-Blue);
}

.fourthBlock img {
    width: 410px;
    height: 320px;
}

.readyBox {
    width: 800px;
    height: 283px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 17px -13px;
    border-radius: 15px;
    margin-top: 120px;
    margin-bottom: -95px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: var(--white);
}

.readyBox h2 {
    font-size: 1.9rem;
    letter-spacing: -0.5px;
    margin-top: 12px;
}

.readyBox--btn {
    padding: 29px 119px;
    background-color: var(--Pink);

    color: var(--Very-Pale-Cyan);
    font-size: 1rem;

    border: none;
    border-radius: 40px;
    box-shadow: 0px 6px 10px 1px rgb(224 223 223);

    margin-top: 36px;
}

.readyBox a {
    text-decoration: none;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 560px;
    color: var(--Very-Pale-Cyan);
    background-color: var(--Very-Dark-Cyan);
    padding: 0 0 0 119px;
}

.footer--logo {
    width: 240px;
    height: 40px;
    margin-bottom: 40px;
}


.footer__wrap {
    display: flex;
    margin-bottom: 33px;
}


.footer * li {
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 18px;
    line-height: 1rem;
}

.footer * li a:hover {
    text-decoration: underline ;
}

.footer__firstBlock {
    display: flex;
    flex-direction: column;
    flex-basis: 38%;
}

.footer__firstBlock p {
    font-size: .9rem;
    margin-bottom: 20px;
    line-height: 1.3rem;
    margin-top: -2px;
}

.footer__firstBlock__location {
   display: flex;
   align-items: baseline;
   width: 80%;
}

.footer__firstBlock__phone {
   display: flex;
   align-items: baseline;
   width: 80%;
   margin-top: 5px;
}

.footer__firstBlock__mail {
   display: flex;
   align-items: baseline;
   width: 80%;
   margin-bottom: -7px;
}

.footer__firstBlock__phone img,
.footer__firstBlock__mail img {
    height:fit-content;
    position: relative;
    top: 2px;
}

.footer__firstBlock__location img {
    position: relative;
    top: 5px;
}

.footer__firstBlock__location p {
    margin-left: 25px;
    width: 95%;
}

.footer__firstBlock__phone p {
    margin-left: 20px;
}

.footer__firstBlock__mail p {
    margin-top: 5px;
    margin-bottom: 13px;
    margin-left: 20px;
}

.footer__secondBlock {
    display: flex;
    flex-direction: column;
    flex-basis: 17%;
    margin-left: 12px;
}

.footer__thirdBlock {
    display: flex;
    flex-direction: column;
    flex-basis: 18.5%;
}

.footer__secondBlock li a,
.footer__thirdBlock li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
}

.footer__socialMedia {
    display: flex;
    flex-basis: 16%;
}

.footer__socialMedia a:hover {
    height: 30px;
    cursor: pointer;
}

.footer__socialMedia--facebook,
.footer__socialMedia--twitter,
.footer__socialMedia--instagram {
    width: 31px;
    height: 31px;
    border: 1px solid #ebfbff;
    border-radius: 50%;
    padding: 7px;
    margin-right: 13px;
}

.footer__socialMedia--facebook:hover,
.footer__socialMedia--twitter:hover,
.footer__socialMedia--instagram:hover {
    border-color: var(--Pink);
}

.footer__socialMedia--facebook {
    background-image: url(../images/facebook-f.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 45%;
}

.footer__socialMedia--facebook:hover {
    background-image: url(../images/facebook-f_hover.svg);
}

.footer__socialMedia--twitter {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 45%;
}

.footer__socialMedia--twitter:hover {
    background-image: url(../images/twitter_hover.svg);
}


.footer__socialMedia--instagram {
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 45%;
}

.footer__socialMedia--instagram:hover {
    background-image: url(../images/instagram_hover.svg);
}





.footer__socialMedia img:hover {
    border-color: var(--Pink);
}

.footer__copyright {
    display: flex;
    justify-content: flex-end;
    font-size: 0.68rem;
    margin-right: 80px;
    margin-bottom: 67px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1200px) {
    .firstBlock img:nth-last-child(1) {
        width: 495px;
        height: 385px;
        margin: 30px auto;
        transition: 2s;
    }
}

@media (max-width: 1000px) {
    .firstBlock__wrap {
        flex-direction: column;
    }

    .firstBlock__wrap article {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .firstBlock__wrap article h1 {
        padding: 0;
    }

    .secondBlock,
    .fourthBlock {
        flex-direction: column-reverse;
        width: 90%;
        height: auto;
        padding: 30px 0;
    }

    .secondBlock__article,
    .fourthBlock__article {
        width: inherit;
        text-align: center;
    }

    .thirdBlock {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0;
       
    }

    .thirdBlock__article {
        width: inherit;
        text-align: center; 
        margin: 0;
    }

    .readyBox {
        width: 100%;
        max-width: 800px;
    }

}

@media (max-width: 810px) {
    body {
        padding: 0;
    }

    .firstBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1433px;
        padding: 56px 25px 70px 25px;
        margin-bottom: 160px;
        /* background: var(--Very-Pale-Cyan) url(../images/bg-hero-mobile.svg); */
        background-image: url(../images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header--btn {
        margin-top: -9px;
    }

    .firstBlock header {
        margin-bottom: 110px;
    }
    .firstBlock__wrap article h1 {
        font-size: 2.65rem;
        margin-bottom: 42px;
        padding: 0 30px;
        line-height: 4rem;
    }

    .firstBlock__wrap article p {
        font-size: 1.75rem;
        margin-bottom: 65px;
        margin-right: 0;
        padding: 0 50px;
        line-height: 2.65rem;
        font-weight: 400;
    }

    .firstBlock--btn {
        padding: 26.5px 123px;
        border-radius: 50px;
        font-size: 1.28rem;
        letter-spacing: 0.85px;
        margin-bottom: 77px;
    }

    .firstBlock img:nth-last-child(1) {
        width: 604px;
        height: 429px;
        margin: 30px auto;
    }

    .secondBlock,
    .fourthBlock {
        padding: 110px 0 69px 0;
        margin-bottom: 80px;
    }

    .thirdBlock {
        padding: 110px 0;
        margin-bottom: 80px;
    }

    .fourthBlock {
        padding: 110px 0 69px 0;
        margin-bottom: 120px;
    }

    .secondBlock img {
        width: 475px;
        height: 396px;
    }
    
    .secondBlock__article h2 {
        font-size: 2.3rem;
        margin-bottom: 31px;
        margin-top: 89px;
    }

    .secondBlock__article p {
        font-size: 1.6rem;
        line-height: 2.25rem;
        padding: 0 30px;
    }

    .thirdBlock img {
        width: 485px;
        height: 355px;
    }
    
    .thirdBlock img {
        width: 490px;
        height: 375px;
    }

    .thirdBlock__article h2 {
        font-size: 2.3rem;
        margin-bottom: 31px;
        margin-top: 125px;
    }

    .thirdBlock__article p {
        font-size: 1.5rem;
        line-height: 2.3rem;
        padding: 0 55px;
    }

    .fourthBlock img {
        width: 490px;
        height: 375px;
    }

    .fourthBlock__article h2 {
        font-size: 2.3rem;
        margin-bottom: 31px;
        margin-top: 120px;
    }

    .fourthBlock__article p {
        font-size: 1.6rem;
        line-height: 2.28rem;
        padding: 0 50px;
    }

    .secondBlock__article, 
    .fourthBlock__article {
        margin: 0;
    }

    .readyBox {
        width: 100%;
        max-width: 705px;
        height: 350px;
    }

    .readyBox h2 {
        margin-top: 9px;
    }
    .readyBox--btn {
        margin-top: 50px;
    }

    .footer {
        padding-left: 30px;
        height: auto;
        margin-top: -39px;
    }

    .footer--logo {
        width: 340px;
        height: 48px;
        margin-bottom: 46px;
        margin-top: 280px;
    }

    .footer__wrap {
        flex-direction: column;
    }

    .footer__firstBlock p {
        font-size: 1.75rem;
        margin-bottom: 40px;
        line-height: 2.7rem;
        margin-left: 55px
    }

    .footer__firstBlock__phone p,
    .footer__firstBlock__mail p{
        margin-left: 40px;
    }

    .footer__firstBlock__location img {
        position: relative;
        top: 20px;
        width: 26px;
        height: 37px;
    }

    .footer__firstBlock__phone img {
        position: relative;
        top: 6px;
        width: 40px;
        height: 40px;
    }

    .footer__firstBlock__mail img {
        position: relative;
        top: 6px;
        width: 42px;
        height: 33px;
    }

    .footer__firstBlock__location {
        width: 88%;
    }

    .footer__firstBlock {
       
        margin-bottom: 100px;
    }

    .footer__secondBlock {
        margin-left: 0;
    }

    .footer__secondBlock li a, 
    .footer__thirdBlock li a {
        font-size: 2rem;
        text-decoration: none;
        color: var(--Very-Pale-Cyan);
    }

    .footer * li {
        margin-bottom: 59px;
    }

    .footer__thirdBlock {
        margin-top: 4px;
        margin-bottom: 60px;
    }

    .footer__socialMedia {
        display: flex;
        justify-content: center;
        margin-left: -10px;
        margin-bottom: 14px;
    }

    .footer__socialMedia--facebook, 
    .footer__socialMedia--twitter, 
    .footer__socialMedia--instagram {
        width: 63px;
        height: 63px;
        margin-right: 25px;
    }

    .footer__socialMedia--facebook,
    .footer__socialMedia--instagram {
        background-position: 50%;
    }

    .footer__socialMedia--twitter {
        background-position: 54%;
    }

    .footer__copyright {
        justify-content: center;
        font-size: 1.28rem;
        margin-right: 35px;
        margin-bottom: 97px;
    }
}

@media (max-width: 670px) {
    .firstBlock img:nth-last-child(1) {
        width: 500px;
        height: auto;
        
    } 
}




@media (max-width: 555px) {
    .firstBlock,
    .secondBlock,
    .thirdBlock,
    .fourthBlock {
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
        margin-bottom: 60px;
        width: 100%;
    }

    .firstBlock__header--logo {
        width: 150px;
        height: 31px;
    }

    .header--btn {
        padding: 11px 21px;
        margin-top: -5px;
    }

    .firstBlock__wrap article h1 {
        font-size: clamp(1.6rem, 100%, 2.65rem);
        margin-bottom: 42px;
        line-height: 2.8rem;
        padding: 0;
    }

    .firstBlock__wrap article p {
    font-size: clamp(0.8rem, 100%, 1.75rem);
    margin-bottom: 65px;
    padding: 0;
    line-height: 2.25rem;
    font-weight: 400;
    }

    .firstBlock--btn {
        padding: 21px 67px;
        font-size: 0.98rem;
        margin-bottom: 77px;
    }

    .firstBlock img:nth-last-child(1) {
        width: 350px;
        height: auto;
    }

    .secondBlock img,
    .fourthBlock img {
        width: 307px;
        height: auto;
    }

    .thirdBlock img {
        width: 307px;
        height: auto;
        margin-top: -40px;
    }


    .secondBlock, 
    .fourthBlock {
        padding: 50px 0 0px 0;
        margin-bottom: 30px;
        width: 90%;
    }

    .thirdBlock {
        padding: 50px 0 0px 0;
        margin-bottom: 30px;
        width: 90%;
    }

    .secondBlock__article h2,
    .thirdBlock__article h2,
    .fourthBlock__article h2 {
        font-size: clamp(1.8rem, 5vw, 2.3rem);
        margin-bottom: 31px;
        margin-top: 60px;

    }

    .secondBlock__article p {
        font-size: clamp(0.8rem, 93%, 1.6rem);
        line-height: 1.95rem;
        margin-bottom: 30px;
        padding: 0;
    }

    .thirdBlock__article p {
        font-size: clamp(0.8rem, 93%, 1.6rem);
        line-height: 1.95rem;
        margin-bottom: 30px;
        padding: 0;
    }

    .fourthBlock__article p {
        font-size: clamp(0.8rem, 97%, 1.6rem);
        line-height: 1.95rem;
        margin-bottom: 30px;
        padding: 0;
    }

    .readyBox {
        width: 90%;
        height: 300px;
    }

    .readyBox h2 {
        font-size: clamp(1.1rem, 100%, 1.9rem);
        text-align: center;
        margin-top: -40px;
        margin-bottom: 50px;
    }

    .readyBox--btn {
        padding: 20px 40px;
        margin-top: 20px;
    }

    .footer--logo {
        width: 201px;
        margin-bottom: 46px;
        margin-top: 233px;
    }

    .footer__firstBlock p {
        font-size: 1.15rem;
        margin-bottom: 40px;
        line-height: 2rem;
        margin-left: 55px;
    }

    .footer__copyright {
        font-size: 0.78rem;
        margin-right: 30px;
        margin-bottom: 70px;
    }
}